

.Sobre{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 200px 10%;
    text-align: center;
    gap: 5rem;
    text-shadow: 2px 2px 5px #00000083;
}
.Sobre-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 57rem;
    text-align: justify;
    border: thick double #000000;
    padding: 1.5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-h1_sobre{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    
}
.Sobre-text .text-h1{
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.Sobre-text p{
    margin-bottom: 4rem;
}

.Sobre-img img{
    border-radius: 25px 25px;
    width: 55vh;
    height: 35vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



@media (max-width:1170px) {

    
    /*main*/
    .Sobre{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        gap: 5rem;
    }

    .Sobre-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 57rem;
        text-align: justify;
        padding: 20px;
    }
    
    .Sobre-text .text-h1{
        text-align: center;
        font-size: 1.5rem;
        line-height: 3rem;
    }
    .Sobre-text p{
        font-size: 1.0rem;
    }
    .Sobre-img img{
        border-radius: 25px 25px;
        width: 100%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}